// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#createpin{
	position:absolute;
	z-index:11;
	top:155px;
	left:-400px;
	background-color:#00ffcc;
	color:black;
	width:400px;
	height:400px;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	ul{
		margin:40px auto 0 auto;
		width:280px;
		list-style-type:none;
	}
	li{		
		margin-bottom:20px;
		text-align:center;
		padding:0;
		font-family: 'Montserrat', sans-serif;
	}
	i{
		position:absolute;
		bottom:3px;
		left:5px;
		font-size:2em;
	}
	#PinClose:hover{
		color:grey;
	}
	#PinClose{
		width:20px;
		height:20px;
		position:absolute;
		z-index:100;
		bottom:0px;
		right:25px;
		cursor:pointer;
	}
	p:hover{
		cursor:pointer;
	}
	p{
		position:absolute;
		padding-left:40px;
		padding-bottom:5px;
		letter-spacing:8px;
		font-size:1.2em;
		bottom:0;
		text-align:center;
		font-family: 'Montserrat', sans-serif;
	}

	#create{
		background-color: white;
		font-size:1.2em;
		margin:10px 0 10px 0;
		border-radius:5px;
		width:80px;
		font-family: 'Montserrat', sans-serif;
		border-color: #00ffcc;
		font-weight: lighter;
	}
}

